<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UsuarioTripAppServlet</servlet-name>
        <servlet-class>Servlet.UsuarioTripAppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LugarTripAppServlet</servlet-name>
        <servlet-class>Servlet.LugarTripAppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoServlet</servlet-name>
        <servlet-class>Servlet.ProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroServlet</servlet-name>
        <servlet-class>Servlet.RegistroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesionTripAppServlet</servlet-name>
        <servlet-class>Servlet.InicioSesionTripAppServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioTripAppServlet</servlet-name>
        <url-pattern>/UsuarioTripAppServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LugarTripAppServlet</servlet-name>
        <url-pattern>/LugarTripAppServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoServlet</servlet-name>
        <url-pattern>/ProductoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroServlet</servlet-name>
        <url-pattern>/RegistroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesionTripAppServlet</servlet-name>
        <url-pattern>/InicioSesionTripAppServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
